<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/css/all.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
     />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
    <!-- <marquee style="background-color: navy;" behavior="scroll" direction="left"> -->
        <h4 style="text-align: center; background-color: navy; color: white;font-weight: 400;font-family: monospace;padding: 10px;" class="animate__animated animate__rotateInDownLeft animate__delay-1s">For cheaper Virgin tickets, please call 09026126119</h4>
    <!-- </marquee> -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid" style="margin-left: 150px;">
          <a style="font-size: 35px;color: darkblue;font-weight: bold;font-family: Verdana, Geneva, Tahoma, sans-serif;" class="navbar-brand animate__animated animate__backInLeft animate__delay-1s" href="#">booKfliGhts</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="padding-left: 300px;">
              <a class="nav-link active" style="font-size: 27px;font-weight: 400;" aria-current="page" href="#">Home</a>
              <a class="nav-link" style="font-size: 27px;font-weight: 400;"  href="#">Hotel</a>
              <a class="nav-link" style="font-size: 27px;font-weight: 400;" href="#">Visa</a>
              <a class="nav-link" style="font-size: 27px;font-weight: 400;" href="#">Vacation</a>
              <a class="nav-link" style="font-size: 27px;font-weight: 400;" href="#">Affliate</a>
            </div>
           <div style="margin-left: 490px;">
            <a href="#" style="text-decoration: none;color: darkblue;font-size: 25px;padding-right: 25px;">Login</a>
            <button   class="animate__animated animate__headShake animate__delay-1s"  style="padding: 9px 15px 9px 15px;background-color: darkgoldenrod;color: aliceblue;font-size: 20px;border-radius: 10px;font-weight: bold;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" type="submit">CREATE ACCOUNT</button>
           </div>
          </div>
        </div>
      </nav>
      <div>
        <div class="animate__animated animate__fadeIn animate__delay-5s bacimage">
            <h1 class="animate__animated animate__rotateInDownLeft animate__delay-5s" style="color: white;padding-top: 200px;padding-left: 50px;font-size: 60px;font-weight: bold;font-family: Arial, Helvetica, sans-serif;">Going somewhere?</h1>
            <div class="flex-container container-fluid col-11">
            <div class="spans">
             <span style="border: 1px solid navy;padding: 5px 15px 10px 20px;text-align: center;border-radius: 10px;"><i style="font-size: 10px;" class="fa-solid fa-jet-fighter-up"></i> FLIGHTS</span>
             <span style="padding: 5px 15px 10px 20px;text-align: center;"><i style="font-size: 10px;" class="fa-sharp fa-solid fa-hotel"></i> HOTELS</span>
             <span style="padding: 5px 15px 10px 20px;text-align: center;"><i style="font-size: 10px;" class="fa-solid fa-house"></i> SHORTLETS</span>
             <span style="padding: 5px 15px 10px 20px;text-align: center;"><i style="font-size: 10px;" class="fa-solid fa-briefcase"></i> MANAGE BOOKINGS</span>
               </div>
                <div>
                   <div style="color: gray;"><i style="font-size: 15px;border: 1px dotted darksalmon;border-radius: 50%;background-color: darksalmon;" class="fa-sharp fa-solid fa-check"></i> We offer the best deals in the industry!</div>
                </div>
            </div>
        </div>
      </div>

     <div class="container mt-5 animate__animated animate__backInUp animate__delay-1s">
     <div class="row">
     <div class="col-md-4">
     <img  src="https://res.cloudinary.com/diapyzzws/image/upload/v1638814170/Website%20Images/blue_ribbon.png" alt="image">
     <div class="d-inline-flex">
<div>
  <h3 style="font-weight: bold;">Blue Ribbon</h3>
  <h5 style="color: gray;">We offer global baggage<br> protection on all flights.</h5>
</div>
     </div>
     </div>
     <div class="col-md-4">
     <img  src="https://res.cloudinary.com/diapyzzws/image/upload/v1638814170/Website%20Images/protocol.png" alt="image">
     <div class="d-inline-flex">
<div>
  <h3 style="font-weight: bold;">Protocol Service</h3>
  <h5 style="color: gray;">Expedited and smooth<br>passage through airpot<br>immigration.</h5>
</div>
     </div>
     </div>
     <div class="col-md-4">
     <img  src="https://res.cloudinary.com/diapyzzws/image/upload/v1638814170/Website%20Images/visa.png" alt="image">
     <div class="d-inline-flex">
<div>
  <h3 style="font-weight: bold;">Visa Assistance</h3>
  <h5 style="color: gray;">All-inclusive visa assistance in a<br>timely, and secure manner.</h5>
</div>
     </div>
     </div>
     </div>
     </div><br><br><br>

     <div class="container animate__animated animate__backInRight animate__delay-1s">
<h1 class="animate__animated animate__bounceIn animate__delay-2s" style="font-weight: bold;">Trending Flights Deal</h1>
<h5 style="color: gray;">Get the best flight deals, airline specials and promotions.</h5>
</div><br><br> 

<% if(!Records){ %>
<h3>Loading...</h3>
 <% }
  else{ %>
    <% for(let Tickets of Records){ %>
      <div>
        <img width="300px" src="<%= Tickets.image %>" alt="gdh">
        <h1><%= Tickets.froms %></h1>
        <h1><%= Tickets.tos %></h1>
        <h1><%= Tickets.amount %></h1>
        <h1><%= Tickets.date %></h1>
      </div>
<div><a class="btn btn-outline-dark" href="/update-ticket/<%= Tickets.id %>">Update</a></div><br>
      <form action="/delete-ticket" method="post">
        <input type="hidden" name="Id" value="<%= Tickets.id %>">
        <button class="btn btn-outline-warning" type="submit">Delete</button>
      </form><br><br>
      <% }} %>
    <!-- <div>
<div class="container-fluid ms-5 rela">
<div class="row">
<div class="col-md-4 wholecol">
<div class=" image">
  <img  style="width: 570px;height: 370px;" src="" alt="wddfe">
<h5 style="color: navy;background-color: white;width: 200px;margin-left: 330px;padding: 10px;border-radius: 10px;">Top flights deal</h5>
<h3 style="color: white;font-weight: bold;margin-left: 50px;"><span  style="font-size: 20px;"><i class="fa-sharp fa-regular fa-circle-dot"></i></span></h3>
<h6 style="color: white;margin-left: 45px;"><i class="fa-solid fa-jet-fighter-up"></i></h6>
<h3 style="color: white;font-weight: bold;margin-left: 50px;"><span  style="font-size: 20px;"><i class="fa-sharp fa-regular fa-circle-dot"></i></span></h3>
<h2 style="color: white;font-weight: bold;margin-left: 45px;margin-top: 95px;"></h2>
<h6 style="color: white;margin-left: 45px;"></h6>
</div>
<div  style="margin-top: 40px;">
  <img width="150px" src="https://res.cloudinary.com/diapyzzws/image/upload/v1651478157/new-airline-logos/QR.png" alt="dfdfeed">
<button  type="submit" style="background-color:orange;color: white;padding: 10px;width: 200px;border-radius: 10px;margin-left: 60px;">Call to book</button>
</div>
</div>
<div class="col-md-4 wholecol">
<div class=" image">
  <img  style="width: 570px;height: 370px;" src="" alt="wddfe">
<h5 style="color: navy;background-color: white;width: 200px;margin-left: 330px;padding: 10px;border-radius: 10px;">Top flights deal</h5>
<h3 style="color: white;font-weight: bold;margin-left: 50px;"><span  style="font-size: 20px;"><i class="fa-sharp fa-regular fa-circle-dot"></i></span></h3>
<h6 style="color: white;margin-left: 45px;"><i class="fa-solid fa-jet-fighter-up"></i></h6>
<h3 style="color: white;font-weight: bold;margin-left: 50px;"><span  style="font-size: 20px;"><i class="fa-sharp fa-regular fa-circle-dot"></i></span></h3>
<h2 style="color: white;font-weight: bold;margin-left: 45px;margin-top: 95px;"></h2>
<h6 style="color: white;margin-left: 45px;"></h6>
</div>
<div  style="margin-top: 40px;">
  <img width="150px" src="https://res.cloudinary.com/diapyzzws/image/upload/v1651478157/new-airline-logos/QR.png" alt="dfdfeed">
<button  type="submit" style="background-color:orange;color: white;padding: 10px;width: 200px;border-radius: 10px;margin-left: 60px;">Call to book</button>
</div>
</div>
<div class="col-md-4 wholecol">
<div class=" image">
  <img  style="width: 570px;height: 370px;" src="" alt="wddfe">
<h5 style="color: navy;background-color: white;width: 200px;margin-left: 330px;padding: 10px;border-radius: 10px;">Top flights deal</h5>
<h3 style="color: white;font-weight: bold;margin-left: 50px;"><span  style="font-size: 20px;"><i class="fa-sharp fa-regular fa-circle-dot"></i></span></h3>
<h6 style="color: white;margin-left: 45px;"><i class="fa-solid fa-jet-fighter-up"></i></h6>
<h3 style="color: white;font-weight: bold;margin-left: 50px;"><span  style="font-size: 20px;"><i class="fa-sharp fa-regular fa-circle-dot"></i></span></h3>
<h2 style="color: white;font-weight: bold;margin-left: 45px;margin-top: 95px;"></h2>
<h6 style="color: white;margin-left: 45px;"></h6>
</div>
<div  style="margin-top: 40px;">
  <img width="150px" src="https://res.cloudinary.com/diapyzzws/image/upload/v1651478157/new-airline-logos/QR.png" alt="dfdfeed">
<button  type="submit" style="background-color:orange;color: white;padding: 10px;width: 200px;border-radius: 10px;margin-left: 60px;">Call to book</button>
</div>
</div>
</div>
</div><br><br>
</div> -->
</body>
</html>